body {
	background: url('../images/blackbackground.jpg');
	font-family: sans-serif;
	background-size: 100% 100%;

	img {
		width: 100%;
	}

	article {
		color: white;
	}

	footer {
		color: white;
	}

}
