body {
  background: url("../images/blackbackground.jpg");
  font-family: verdana, sans-serif;
  background-size: 100% 100%; }
  body img {
    width: 100%; }
  body article {
    color: white; }
  body h1 {
    text-shadow: 4px 4px 3px gray;
    font-size: 50px;
    margin-left: 65px;
    letter-spacing: 5px; }
  body h3 {
    font-size: 30px;
    margin-left: 100px; }
  body p {
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 40px;
    border-color: gold;
    border-width: medium;
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black; }
  body ol {
    margin-left: 200px;
    margin-right: 1050px;
    line-height: 30px;
    font-size: 20px;
    list-style-type: upper-roman;
    background: black;
    padding: 5px; }
  body footer {
    color: white; }
  body iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
    box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black; }
  body a {
    border: 2px solid red;
    line-height: 50px;
    background: gold;
    padding: 4px; }
